/* ===================
        Header 
=====================*/
body.scrolled .header {
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
}
body.sidebar-active .sidebar {
  display: block;
}
.sidebar {
  display: none;
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
  padding: 25px;
  width: 65%;
  right: 0;
  position: fixed;
  height: 100vh;
  top: 0;
  box-shadow: 0px 4px 28px -2px #00000014;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}
.search-box {
  border-radius: 46px;
  padding: 5px 10px;
  background-color: #fff;
  display: flex;
  width: 280px;
  align-items: center;
}
.search-box::before {
  content: "";
  background-image: url("https://i.ibb.co/Y2XDdvb/u-search.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25px;
  width: 25px;
  display: block;
}

.btn-language::after {
  content: "";
  background-image: url("https://i.ibb.co/hXqR2Z0/Vector.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 6px;
  width: 10px;
  display: block;
}
.header-mobile {
  display: none;
}
@media (max-width: 1024px) {
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: flex;
  }
}
/* ===================
        Hero 
=====================*/
.hero {
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
}
.hero:before {
  content: "";
  background-image: url("https://i.ibb.co/J5k7kMV/Rectangle-9.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  width: 25%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.overview:after {
  content: "";
  background-image: url("https://i.ibb.co/GddkRdc/Rectangle-8.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  width: 25%;
  display: block;
  position: absolute;
  bottom: 0;
}
/* ===================
        General 
=====================*/
.card {
  box-shadow: 0px 4px 28px -2px #00000014;
}
.tag span::before {
  content: "";
  height: 4px;
  width: 4px;
  border-radius: 100px;
  background-color: #002a48;
  display: block;
}
.first-baner .box:after {
  content: "";
  background-image: url("https://i.ibb.co/pxLX9t0/Rectangle-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 90%;
  width: 60%;
  display: block;
  position: absolute;
  bottom: -35px;
  left: 0;
  z-index: 0;
}
.first-baner .box::before {
  content: "";
  background-image: url("https://i.ibb.co/6RZ1Ffg/Rectangle-9.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 57%;
  display: block;
  position: absolute;
  bottom: 0;
  right: -3px;
  z-index: 0;
}
.second-baner .box:after {
  content: "";
  background-image: url("https://i.ibb.co/jbVYNs9/Rectangle-1-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 90%;
  width: 60%;
  display: block;
  position: absolute;
  bottom: -35px;
  right: 0;
  z-index: 0;
}
.second-baner .box::before {
  content: "";
  background-image: url("https://i.ibb.co/prdkG0H/Rectangle-9-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 57%;
  display: block;
  position: absolute;
  bottom: 0;
  left: -17px;
  z-index: 0;
}
@media (max-width: 1024px) {
  .first-baner .box::before {
    background-image: url(https://i.ibb.co/xhC6Xvn/Rectangle-9-2.png);
    background-size: cover;
    height: 86%;
    width: 100%;
    top: -140px;
    right: 0;
  }
  .first-baner .box:after {
    background-size: cover;
    height: 37%;
    width: 100%;
    bottom: 0;
  }
  .second-baner .box::before {
    background-image: url(https://i.ibb.co/xhC6Xvn/Rectangle-9-2.png);
    background-size: cover;
    height: 86%;
    width: 100%;
    top: -140px;
    left: 0;
  }
  .second-baner .box:after {
    background-size: cover;
    height: 37%;
    width: 100%;
    bottom: 0;
  }
  .baner h1 {
    text-align: center;
    font-size: 36px;
  }
  .baner h2 {
    text-align: center;
    font-size: 24px;
  }
  .baner p {
    text-align: center;
    font-size: 12px;
  }
}

/* ===================
        Footer 
=====================*/
.footer {
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
}
