@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-primary text-white  py-3 px-5  rounded-[57px];
  }
  .btn-primary-outline {
    @apply border-[1px] border-primary text-primary  rounded-[57px];
  }
}
